@inject ICategoryService categoryService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bella Vita Pizzeria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bella_Vita_Pizzeria.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: white">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Logo.png" style="width: 130px" alt="Image"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav flex-grow-1" >                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark fw-bold" style="font-size: 20px;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Menu
                            </a>
                            <ul class="dropdown-menu">
                                @{
                                    var categories = await categoryService.GetAllCategoriesAsync();
                                    var listCateg = categories.ToList();

                                    for (int i = 0; i < listCateg.Count(); i++)
                                    {
                                        var imageSrc = listCateg[i].Name + ".jfif";

                                        <li class="nav-item">
                                            <a asp-action="AllProducts" asp-controller="Product" asp-route-category="@listCateg[i].Name" class="nav-link text-dark">
                                                <img src="~/images/categories/@imageSrc" alt="Image" style="width: 3rem; height: 3rem;">
                                                <h5 class="card-title mt-1">@listCateg[i].Name</h5>
                                            </a>
                                        </li>
                                    }
                                }                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fw-bold" style="font-size: 20px;" asp-controller="Home" asp-action="Privacy">About us</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Bella Vita Pizzeria
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
